.page{
    background-color: #222;
    margin: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page #game-general-detail{
    background-color: white;
    border: 0.3rem solid rgb(71, 71, 71);
    border-radius: 2rem;
    width: 75rem;
    height: auto;
    margin: 5rem;
}

.page #game-info{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 3rem;
    padding: 3rem 7rem;
}

.page #detail_image{
    height: 25rem;
    width: 25rem;
    margin: 0rem 2rem 0rem 0rem ;
}

.page .game-detail-info{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    width: 25rem;
    height: auto;
    background-color: rgb(159, 159, 159);
    border-radius: 1rem;
    padding: 2rem 0rem 2rem 2.5rem;
}

.page .game-general-info{
    height: auto;
}

.page .game-general-info h2{
    align-items: center;
    width: 19rem;
    font-size: 2rem;
    margin:1rem 0rem 1rem 0rem;
}

.page .game-price{
    font-size:1.4rem;
    width: 10rem;
    margin: 0.5rem 1.5rem 0.5rem 0rem;
}

.page .game-detail{
    display: flex;
    font-size: 1rem;
}

.page .game-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0rem;
}

.page .game-info p{
    margin: 0.4rem 0rem;
}

.page .value{
    margin-left: 1rem;
}

.page a{
    margin:1rem 0rem;
    cursor: pointer;
    color: #222;
}

.page .description{
    text-align: justify;
    width: 55rem;
}

.page .people{
    display: flex;
    flex-direction: column;
    margin: 0rem;
}

.page .people .publisher, .page .people .designer, .page .people .artists{
    margin: 0.3rem 0rem;
}

.page .people .artists ul{
    list-style-type: circle;
    margin: 0.5rem;
}