.game-detail{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 3rem;
    padding: 3rem 7rem;
}

.game-detail #game-image{
    height: 25rem;
    width: 25rem;
    margin: 0rem 2rem 0rem 0rem ;
}

.game-detail .game-details-info{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    width: 25rem;
    height: auto;
    background-color: rgb(159, 159, 159);
    border-radius: 1rem;
    padding: 2rem 0rem 2rem 2.5rem;
}

.game-detail .game-detail-top-info{
    height: auto;
    display: flex;
    flex-direction: row;
}

.game-detail .game-detail-top-info .game-name{
    align-items: center;
    width: 16rem;
    font-size: 1.6rem;
    margin:1rem 0rem 1rem 0rem;
}

.game-detail .game-detail-top-info .game-rank{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 5rem;
}

.game-detail .game-price{
    font-size:1.4rem;
    width: 10rem;
    margin: 0.5rem 1.5rem 0.5rem 0rem;
}

.game-detail .game-detail-middle-info{
    display: flex;
    font-size: 1rem;
}

.game-detail .game-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0rem;
}

.game-detail .game-info p{
    margin: 0.4rem 0rem;
}

.game-detail .game-detail-middle-info .value{
    margin-left: 1.5rem;
}

.game-detail .game-detail-bottom-info{
    margin:1rem 0rem;
    cursor: pointer;
    color: #222;
}

.game-detail .game-description{
    text-align: justify;
    width: 55rem;
}

.game-detail .game-people{
    display: flex;
    flex-direction: column;
    margin: 0rem;
}

.game-detail .game-people .publisher, .game-detail .game-people .designer, .game-detail .game-people .artists{
    margin: 0.3rem 0rem;
}

.game-detail .game-people a{
    cursor: pointer;
    color: #222;
}

.game-detail .game-people .artists ul{
    list-style-type: circle;
    margin: 0.5rem;
}